<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>密码修改</title>
    </head>
    

    <body background="/static/back.png" 
style="
background-repeat:no-repeat;
background-size:100% 100%;
background-attachment:fixed;">
            <div style="float:left;margin-left: 10px;">
                <a href="/index" style="cursor:pointer;text-decoration-style:none;color: black;"><b style="font-size: 200%;">首页</b></a>
            </div>
            <div style="float: right;margin-left: 10px;">
                <a href="/upload" style="cursor:pointer;text-decoration-style:none;color: black;" ><b style="font-size: 200%;">投稿</b></a>
                <a href="/myself" style="cursor:pointer;text-decoration-style:none;color: black;" ><b style="font-size: 200%;">个人</b></a>
                <a href="/loginout" style="cursor:pointer;text-decoration-style:none;color: black;" ><b style="font-size: 200%;">退出登录</b></a>
            </div>
        <div style="float:left;margin-left: 5%;">
        <form method="POST">
        {{form.csrf_token()}}
            <table style='text-align:left;margin-top:100px;margin-left:40px' cellpadding="0">
                <tr>
                    <th>修改密码</th>
                    <th>用户名：{{username}}</th>
                    <th style="visibility:hidden;">密码以字母开头，长度在6~18之间，只能包含字母、数字和下划线</th>
                </tr>
                <tr>
                    <th>{{form.password0.label}}</th>
                    <th>{{form.password0}}</th>
                    <th >{% for err in form.password0.errors %}
                            <div class="col-md-12">
                                <span style="color: red">{{ err }}</span>
                            </div>
                        {% endfor %}</th>
                </tr>
                <tr>
                    <th>{{form.password.label}}</th>
                    <th>{{form.password}}</th>
                    <th>{% for err in form.password.errors %}
                            <div class="col-md-12">
                                <span style="color: red">{{ err }}</span>
                            </div>
                        {% endfor %}</th>
                </tr>
                <tr>
                    <th>{{form.password2.label}}</th>
                    <th>{{form.password2}}</th>
                    <th>{% for err in form.password2.errors %}
                            <div class="col-md-12">
                                <span style="color: red">{{ err }}</span>
                            </div>
                        {% endfor %}</th>
                </tr>
            </table>
        <hr>
        {%for message in get_flashed_messages()%}
        {{message}}
        {%endfor%}
        <span style="size: 400%;">{{form.submit}}</span> 
    </form>
</div>
    </body>
</html>